<!--全会員の投稿一覧-->
<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="d-inline-block border p-3 my-3">
      全会員の投稿一覧
    </h2>
  </div>
  
  <% @posts.each do |post| %>

    <div>
      <!--プロフィール画像-->
      <!--<tr><%= image_tag post.user.get_top_image_url(20,20), class: "rounded-circle" %></tr>-->
      <!--ユーザーニックネーム-->
      <tr><%= post.user.name %></tr>
    </div>
    <!--投稿画像-->
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image, size: '300x250' %>
    <% end %>
      
  <% end %>
</div>