<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h2 class="d-inline-block border p-3 my-3">
          会員一覧
        </h2>
      </div>
      <br>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>名前</th>
              <th>メールアドレス</th>
              <th>会員ステータス</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.user_status %></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>