<!--フッター-->
<footer class='fixed-bottom text-light' style="background-color: #2F4F4F; position:fixed;">
  <div class="container">
    	<div class='row'>
      	<div class='d-flex justify-content-center'>
      		<h5>HAPI NAIL</h5>
      	</div>
      </div>
  </div>
</footer>