<!--フッター-->
<footer class='fixed-bottom text-light' style="background-color: #c2b1a5;">
  <div class="container">
    <div class='row'>
    <ul class='mx-auto my-2'>
      <li><a href="#">About</a></li>
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
    </div>
  <p class="copyright">© 2023 Example Inc. All Rights Reserved.</p>
  </div>
</footer>